{:paths ["src" "resources"]

 :deps
 {org.clojure/clojure       {:mvn/version "1.10.1"}
  org.clojure/clojurescript {:mvn/version "1.10.597"}}

 :aliases
 {:dev
  {:extra-paths ["target"]
   :extra-deps
   {com.bhauman/figwheel-main {:mvn/version "0.2.0"}}}

  ;; To start repl from the shell (this cannot go into :dev)
  :repl {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
